:root {
  --dark-font-color: #212121;
  --light-font-color: #ffffff;
  --desc-font-color: #757575;
  --transperent-font-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --accent-bg-color: #188ce8;

  --light-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --dark-boxshadow-color: rgba(0, 0, 0, 0.15);
  --border-portfolio-color: #eeeeee;
  --our-team-sicoal-icon: #afb1b8;
  --footer-social-icon-color: rgba(255, 255, 255, 0.1);

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
